<h1>Welcome to pirate cat</h1>
<p>Please find pirate cat page on facebook and start a conversation. All messages will respond with a repeate of your input unless you use the hotword 'pictures' in which you will be given a seperate response. More to come.</p>